# PROJECT 6 
# PIPELINE 2: SEARCH

# BONUS: 
Present: Command is executed via command line script

In [ ]:
#!/bin/bash

In [ ]:
!pwd

In [ ]:
import os
os.chdir('./lib')

In [3]:
import database_module_updt as db
import encoding_module as enc
import wiki_module_copy as wiki
import pandas as pd

In [4]:
db.connect_to_postgres()

Connected to server joshuacook.me.

(<connection object at 0x1161cb180; dsn: 'user=gino password=xxxxxxxxxxx she wagon equator' host=joshuacook.me port=5432 dbname=project_6', closed: 0>,
 <cursor object at 0x116105908; closed: 0>)

# Parse: Encode search as document vector

In [5]:
page_vectors = db.select_all_page_vectors()

Connected to server joshuacook.me.

In [6]:
indices = [tup[0] for tup in page_vectors]
vectors = [tup[1] for tup in page_vectors]

In [7]:
page_vectors_df = pd.DataFrame(vectors, index=indices)

In [8]:
page_vectors_df.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
4341789,0.092992,-0.040985,0.006952,0.000243,0.001681,0.004999,0.003430,0.003523,-0.005129,-0.001911,...,-0.021003,-0.039528,0.027716,0.021033,-0.034768,-0.022294,0.031537,-0.009710,-0.010331,0.025944
48201744,0.021301,0.027559,-0.003917,-0.010877,0.013055,0.000934,0.000128,0.010317,0.001444,-0.009792,...,-0.055040,0.000110,0.057817,0.005156,0.058477,0.008807,0.043527,-0.011693,0.064738,0.051296
2514975,0.124983,0.153025,0.026264,-0.257191,-0.210183,0.074847,0.003862,-0.009666,-0.065705,-0.280972,...,-0.022703,0.015894,-0.002476,0.004992,-0.006653,-0.017394,-0.008525,0.017188,-0.001596,0.000120
35135520,0.191357,-0.039003,-0.006018,0.006389,-0.001106,-0.004748,0.015829,0.005612,0.011846,0.028248,...,0.000578,-0.004204,0.030916,0.010484,-0.012454,0.026050,0.038744,0.015332,-0.008053,0.009506
27303975,0.034292,0.039499,-0.006095,-0.015156,0.026112,-0.039749,-0.081440,-0.036546,0.005076,0.018881,...,0.030056,-0.026965,-0.002426,0.042282,0.024082,0.004498,-0.009517,-0.005315,-0.003784,-0.010202

In [9]:
page_vectors_df[1].as_matrix()

array([-0.04098514,  0.02755917,  0.15302509, ...,  0.24935387,
        0.2834365 ,  0.08240345])

# Mine: Select document vectors for all pages from database

In [10]:
import pandas as pd

data_df = pd.read_pickle('/Users/ginodefalco/dsi/dsi_repo/DSI_SM_3/projects/project-06/data/data.pickle')
target_df = pd.read_pickle('/Users/ginodefalco/dsi/dsi_repo/DSI_SM_3/projects/project-06/data/target.pickle')

In [11]:
mock_search_term = data_df.sample(1, random_state=42)

In [12]:
mock_search_term += 5

In [13]:
mock_search_term

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
1591,18.007247,18.696438,18.740865,18.42211,18.050016,18.426912,18.103345,18.394582,18.582237,18.450367,...,18.818117,18.24098,18.045985,18.025064,18.099338,18.928423,18.604454,18.590956,18.19217,18.516349

# Model: Find five most similar documents based on document vectors

In [14]:
# INDEX ON PAGE ID
# Cosine similarity is one way to do this
# The other approach is nearest neighbors (not a classifier)
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import NearestNeighbors

In [15]:
this_NN = NearestNeighbors()

In [16]:
this_NN.fit(data_df)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [17]:
# first array are distances, second five are the indices
this_NN.kneighbors(mock_search_term)

(array([[ 23.42986295,  23.46057477,  23.56846915,  23.64929112,
          23.67044149]]), array([[  86, 1541,  462,   72,  212]]))

# Mine: Retrieve text for the five most similar documents

In [18]:
page_vec_df.index[]

SyntaxError: invalid syntax (<ipython-input-18-bc319e1fc03c>, line 1)

In [ ]:

lookup_table = pd.DataFrame(page_vec_df)